<div>
    <h1>Step 1</h1>
    <p></p>
    <div>
        <mat-form-field>
            <mat-label>Login</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Confirm password</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div>
        <mat-checkbox [(ngModel)]="checked">Agree to work </mat-checkbox>
    </div>
    <p></p>
    <div>
        <button mat-flat-button color="primary">Go to step 2</button>
    </div>
</div>
